@charset "UTF-8";
/*弹性盒布局相关样式组
声明为弹性盒子*/
.f-box {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}

.flex-item {
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 1px;
}

//垂直排列
.f-col {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}

//主轴居中对齐
.f-main-c {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

//主轴两端对齐
.f-main-justify {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

//主轴末尾对齐
.f-main-end {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

//主轴起点对齐
.f-main-start {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

//侧轴居中对齐
.f-aside-c {
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

//侧轴起始位置对齐
.f-aside-start {
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

//侧轴结束位置对齐
.f-aside-end {
  -webkit-box-align: end;
  -moz-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

//侧轴基线对齐
.f-aside-b {
  -webkit-box-align: baseline;
  -moz-box-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
}

//侧轴拉伸
.f-aside-s {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}

// 自定义宽度
.flex-width(@width) {
  display: block;
  -webkit-box-flex: 0 0 @width;
  -moz-box-flex: 0 0 @width;
  -webkit-flex: 0 0 @width;
  -ms-flex: 0 0 @width;
  flex: 0 0 @width;
  min-width: 1px;
}
